.container {
	border-radius: 1rem;
	background-color: #F8F9FA;
	border: 1px solid #E1E4E8;

	padding: 1rem;
}

.header {

}

.title {
	background-color: #E1E4E8;
	padding: 0.5rem;
	color: #2F3A47;
	font-size: 0.875rem;
	font-weight: 500;
	border-radius: 0.5rem;
}