@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Raleway:wght@400;700&display=swap');

$textColor: #474747;
$subtextColor: #707070;

$font-sizes: (
	h1: 44px,
	h2: 32px,
	h3: 20px,
	h4: 14px,
	h5: 12px,
	h6: 6px
);

@mixin textColors {
	&.subtext {
		color: $subtextColor;
	}
}

@each $heading, $size in $font-sizes {
	#{$heading} {
		font-size: $size;
		font-family: inherit;
		font-weight: inherit;

		margin-top: 0;
   		margin-bottom: .5rem;

		font-weight: 700;

		color: $textColor;

		@include textColors();
	}
} 

p {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 1rem;
	line-height: 1.2;

	color: $textColor;

	@include textColors();
}